.app {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    padding: 32px;
    width: 100%;
}
.app_container {
    width: 100%;
}
.app_options {
    padding: 16px;
    border: 1px solid black;
    background-color: aliceblue;

    label > span,
    p > span {
        margin-right: 16px;
    }
}
